<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OdontoExpress</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>servletLogin</display-name>
    <servlet-name>servletLogin</servlet-name>
    <servlet-class>servlet.servletLogin</servlet-class>
  </servlet>
  <servlet>
    <display-name>servletPaciente</display-name>
    <servlet-name>servletPaciente</servlet-name>
    <servlet-class>servlet.servletPaciente</servlet-class>
  </servlet>
  <servlet>
    <display-name>sDetalle</display-name>
    <servlet-name>sDetalle</servlet-name>
    <servlet-class>servlet.sDetalle</servlet-class>
  </servlet>
  <servlet>
    <display-name>servletCita</display-name>
    <servlet-name>servletCita</servlet-name>
    <servlet-class>servlet.servletCita</servlet-class>
  </servlet>
  <servlet>
    <display-name>sPago</display-name>
    <servlet-name>sPago</servlet-name>
    <servlet-class>servlet.sPago</servlet-class>
  </servlet>
    <servlet>
    <display-name>sReports</display-name>
    <servlet-name>sReports</servlet-name>
    <servlet-class>servlet.sReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletCita</servlet-name>
    <url-pattern>/servletCita</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sDetalle</servlet-name>
    <url-pattern>/sDetalle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletLogin</servlet-name>
    <url-pattern>/servletLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletPaciente</servlet-name>
    <url-pattern>/servletPaciente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sPago</servlet-name>
    <url-pattern>/sPago</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>sReports</servlet-name>
    <url-pattern>/sReports</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>